################################################################
#                   Authelia configuration                    #
###############################################################
theme: dark

identity_validation:
  reset_password:
    jwt_secret: "{{ authelia_jwt_secret }}"

server:
  address: 'tcp://0.0.0.0:9091/'
  buffers:
    read: 4096
    write: 4096
  endpoints:
    enable_pprof: false
    enable_expvars: false
  disable_healthcheck: false


log:
  level: info
  file_path: /var/log/authelia.log

totp:
  issuer: '{{ common_tld }}'
  period: 30
  skew: 1

authentication_backend:
  password_reset:
    disable: false

  # file:
    # path: /etc/authelia/.users/users_database.yml
    # password:
    #   algorithm: argon2id
    #   iterations: 1
    #   key_length: 32
    #   salt_length: 16
    #   memory: 1024
    #   parallelism: 8

  ldap:
    implementation: custom
    address: ldap://{{ ldap_host }}:{{ ldap_port }}
    timeout: 5s
    start_tls: false

    base_dn: '{{ ldap_base_dn }}'

    additional_users_dn: ou=people
    users_filter: (&({username_attribute}={input})(objectClass=person))

    additional_groups_dn: ou=groups
    groups_filter: (member={dn})

    user: uid={{ authelia_ldap_user }},ou=people,{{ ldap_base_dn }}
    password: "{{ authelia_ldap_password }}"

    attributes:
      username: uid
      display_name: displayName
      mail: mail
      group_name: cn

access_control:
  default_policy: deny
  rules:
    # bypass rule
    - domain:
        - "auth.{{ common_tld }}"
        - "overseerr.{{ common_tld }}"
      policy: "bypass"
    # catch-all
    - domain:
        - "*.{{ common_tld }}"
      subject:
      policy: one_factor

session:
  name: authelia_session
  same_site: lax
  secret: '{{ authelia_session_secret }}'
  inactivity: 5m
  expiration: 1h
  remember_me: 1M
  cookies:
    - domain: {{ common_tld }}
      authelia_url: https://auth.{{ common_tld }}
      default_redirection_url: https://{{ common_tld }}

  redis:
    host: "{{ host.redis_host }}"
    port: "{{ host.redis_port }}"
    password: "{{ host.redis_password }}"
    database_index: 0
    maximum_active_connections: 10
    minimum_idle_connections: 0

regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 12h

storage:
  encryption_key: '{{ authelia_storage_encryption_key }}'
  postgres:
    address: 'tcp://{{ host.postgres_host }}:{{ host.postgres_port }}'
    database: '{{ application }}'
    username: '{{ authelia_postgres_user }}'
    password: '{{ authelia_postgres_password }}'

notifier:
  disable_startup_check: false
  smtp:
    address: "{{ common_email_host }}:{{ common_email_port }}"
    timeout: 5s
    username: '{{ common_smtp_username }}'
    password: '{{ common_smtp_password }}'
    sender: "Authentication Service <notification{{ common_email_to }}>"
    subject: "[Authelia] request {title}"
    startup_check_address: noreply{{ common_email_to }}
    disable_require_tls: {{ 'false' if common_email_protocol=='tls' else 'true' }}
    disable_html_emails: false
    tls:
      skip_verify: false
      minimum_version: TLS1.2
...