http:
  routers:
    api:
      rule: 'Host(`traefik.{{ common_tld }}`)'
      entryPoints:
        - https
      service: api@internal
      middlewares:
        - auth
      tls:
        certResolver: '{{ traefik_certresolver }}'
        domains:
          - main: '{{ common_tld }}'
            sans:
              - '*.{{ common_tld }}'

  middlewares:
    redirect:
      redirectScheme:
        scheme: https
    security-headers:
      headers:
        stsIncludeSubdomains: true
        stsSeconds: 31536000
        stsPreload: true

    auth:
      forwardauth:
        address: http://auth:9091/api/verify?rd=https://auth.{{ common_tld }}/
        trustForwardHeader: true
        authResponseHeaders:
          - Remote-User
          - Remote-Groups
          - Remote-Name
          - Remote-Email

    auth-basic:
      forwardauth:
        address: http://auth:9091/api/verify?auth=basic
        trustForwardHeader: true
        authResponseHeaders:
          - Remote-User
          - Remote-Groups
          - Remote-Name
          - Remote-Email
    
    crowdsec-bouncer:
      forwardauth:
        address: http://bouncer-traefik:8080/api/v1/forwardAuth
        trustForwardHeader: true

tls:
  options:
    default:
      sniStrict: true
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
    mintls13:
      sniStrict: true
      minVersion: VersionTLS13
