tunnel: {{ UUID }}
credentials-file: /home/nonroot/.cloudflared/{{ UUID }}.json

# NOTE: You should only have one ingress tag, so if you uncomment one block comment the others

# forward all traffic to Reverse Proxy w/ SSL
ingress:
  - service: https://{{ host }}.{{ common_local_tld )):443
    originRequest:
      originServerName: {{ common_tld }}

#forward all traffic to Reverse Proxy w/ SSL and no TLS Verify
#ingress:
#  - service: https://REVERSEPROXYIP:PORT
#    originRequest:
#      noTLSVerify: true

# forward all traffic to reverse proxy over http
#ingress:
#  - service: http://REVERSEPROXYIP:PORT